# Modern Python Tutorial

### Installation
Download the latest version for Windows:  [ Python v0.12 or latest](https://www.python.org/downloads/) <br/>
Download the latest version for Linux:  <i>"sudo dnf install python3.12 or "sudo apt-get install python3.12" (note: install latest version of python)</i>
#### Checking Version
Windows :    python --version<br/>
Linux :      python3.12 --version

## Let's Start Coding

In [1]:
print("Hello World");

Hello World

### String

In [2]:
newString = "Hello World";
print(newString)    # Output: Hello World
print(type(newString))      #type method with show the type of "newString"
print(id(newString))    #id() will return the physical address of "newString"
print([ i for i in dir(newString) if "__" not in i])    #Methods and attributes

Hello World
<class 'str'>
2229583245360
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### F-string pthon

In [3]:

message : str = "HELLO This is Hamza"
fatherName: str = "Waheed Abbasi"
age: int = 23
education: str = 'BS in Computer Science'
print(message + '\n' + \
    'Son of ' + fatherName + '\n' \
    'Age is ' + str(age)
    )

print(f"""
Hello: {message}
Father Name: {fatherName}
Age: {age}
Education: {education}
""")

HELLO This is Hamza
Son of Waheed Abbasi
Age is 23

Hello: HELLO This is Hamza
Father Name: Waheed Abbasi
Age: 23
Education: BS in Computer Science

### F-string and Jinja style

In [4]:


name : str = 'Hamza Waheed'
fname : str = "Hamza Waheed"
education : str = "BS in Computer Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s
""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : Hamza Waheed
Father's Name: Hamza Waheed
Age: 30
Education : BS in Computer Science

## Methods

In [5]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [6]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [7]:
name : str = "Hamza Waheed"

print(name.capitalize())
print(name.lower())

Hamza waheed
hamza waheed

In [8]:
name : str = 'Hamza Waheed'
fname : str = "Hamza Waheed"
education : str = "BS in Computer Science"
age : int = 23


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : Hamza Waheed
Father's Name: Hamza Waheed
Age: 23
Education : BS in Computer Science

Total 22

## Recommended below two f-string format

In [9]:
name : str = 'Hamza Waheed'
fname : str = "Hamza Waheed"
education : str = "BS in Computer Science"
age : int = 23


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Hamza Waheed
Father's Name: Hamza Waheed
Age: 23
Education : BS in Computer Science

In [10]:
student_code : str = """
print("My Name is Hamza Waheed Abbasi")
age:str = 'My age is 23'
a:int = 7
b:int = 8
print(a + b )
print(age)
"""

print(type(exec(student_code)))

My Name is Hamza Waheed Abbasi
15
My age is 23
<class 'NoneType'>

### Explore String methods and attributes
pre-define global function we have used

- print
- type
- id
- dir
- len

In [11]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [12]:
name : str = "Hamza Waheed"

#variable_name.method()

print(name.capitalize())
print(name.casefold())
print(name.lower())
print(name.upper())

Hamza waheed
hamza waheed
hamza waheed
HAMZA WAHEED

In [13]:
name : str = "      Hamza Waheed        "

#variable_name.method()
display(name)
display(name.lstrip())

'      Hamza Waheed        '

'Hamza Waheed        '

In [14]:
name : str = "      Hamza Waheed         "

#variable_name.method()
display(name)
display(name.rstrip())

'      Hamza Waheed         '

'      Hamza Waheed'

In [15]:
name : str = "      Hamza Waheed         "

#variable_name.method()
display(name)
display(name.strip())

'      Hamza Waheed         '

'Hamza Waheed'

### Comment

In [16]:
# String variable -- Comment using '#'
x: str = "Hello World"

### fullname

In [17]:
first_name:str = "Hamza"
last_name:str = "Waheed"
full_name:str = f"{first_name} {last_name}"
print(full_name)
print(f"Hello, {full_name.title()}!")

Hamza Waheed
Hello, Hamza Waheed!

## List

In [18]:
items0: list = ['item1', 3, True]   # bad practice

items1: list[str] = ['item1', '3', 'True']   # good practice
print(items0)
print(items1)

['item1', 3, True]
['item1', '3', 'True']

### Access List items

In [19]:
thislist: list[str] = ["apple", "banana", "cherry"]
print(thislist[1])

thislist: list[str] = ["apple", "banana", "cherry"]
print("Negative Indexing: " + thislist[-1])

print("Range of Indexes")
thislist: list[str] = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

banana
Negative Indexing: cherry
Range of Indexes
['cherry', 'orange', 'kiwi']

### Changing list items

In [20]:
thislist: list[str] = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

print("\nChange a Range of Item Values ")
thislist: list[str] = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

thislist: list[str] = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

thislist: list[str] = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'blackcurrant', 'cherry']

Change a Range of Item Values
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']
['apple', 'blackcurrant', 'watermelon', 'cherry']
['apple', 'watermelon']

### List Methods

In [21]:
items: list[str] = ['item1', '3', 'True']

print("len method: return length of item from list")
print(len(items))
print("\n")

# pop
items.pop()
print("pop method: pop out an item from end of list")
print(items)
print("\n")

# append items
items.append('saif')
print("append method: add an item in end")
print(items)  # Output: []

print("\n")

# reverse list
items.reverse()
print("reversed list: reverse whole list")
print(items)

print("\n")

# sort list
items.sort()
print("sorted list: sort in alphabetic order")
print(items)

print("\n")

# remove item from list
items.remove("saif")
print("remove method: remove item from list")
print(items)

print("\n")

# insert method
items.insert(2, "Hamza")
print("insert method: insert value in any index you want")
print(items)

print("\n")

# copy method
copyItems = items.copy()
print("copy method: duplicate list and save in new variable")
print(copyItems)

print("\n")

# count method
points: list[int] = [1, 4, 2, 9, 7, 8, 9, 3, 1]
count = items.count("Hamza")
count1 = points.count(8)
print("count method: returns the number of elements with the specified value")
print("List[str]: ")
print(count)
print("List[int]: ")
print(count1)

print("\n")

# extend method
items.extend('3')
print("extend method: add multiple items in end")
print(items)

print("\n")

# index method
Index = items.index('Hamza')
print("index method: returns the index of the first element with the specified value")
print(Index)

print("\n")

# clear method
items.clear()
print("clear method: clear whole list and return empty list")
print(items)

len method: return length of item from list
3


pop method: pop out an item from end of list
['item1', '3']


append method: add an item in end
['item1', '3', 'saif']


reversed list: reverse whole list
['saif', '3', 'item1']


sorted list: sort in alphabetic order
['3', 'item1', 'saif']


remove method: remove item from list
['3', 'item1']


insert method: insert value in any index you want
['3', 'item1', 'Hamza']


copy method: duplicate list and save in new variable
['3', 'item1', 'Hamza']


count method: returns the number of elements with the specified value
List[str]:
1
List[int]:
1


extend method: add multiple items in end
['3', 'item1', 'Hamza', '3']


index method: returns the index of the first element with the specified value
2


clear method: clear whole list and return empty list
[]

### Loop List

In [22]:
thislist: list[str] = ["apple", "banana", "cherry"]
for i in thislist:
    print(i)

print("\nPrint all items by referring to their index number:")
for x in range(len(thislist)):
    print(thislist[x])

print("\nUsing a While Loop:")
i = 0
while i < len(thislist):
    print(thislist[i])
    i= i + 1

print("\nLooping Using List Comprehension:")
[print(x) for x in thislist]

apple
banana
cherry

Print all items by referring to their index number:
apple
banana
cherry

Using a While Loop:
apple
banana
cherry

Looping Using List Comprehension:
apple
banana
cherry

[None, None, None]

### List Comprehension
    List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [23]:
fruits: list[str] = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist: list[str] = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

fruits1: list[str] = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist2: list[str] = []

for x in fruits1:
    if 'p' in x:
       newlist2.append(x)

print(newlist2)

# The Syntax
# newlist = [expression for item in iterable if condition == True]
# The return value is a new list, leaving the old list unchanged.
newlist3: list[str] = [x for x in fruits if x != "apple"]
print(newlist3)

newlist4 = []
newlist4 = [x for x in fruits]
print(newlist4)


newlist4 = [x for x in range(10)]
print(newlist4)

newlist4 = [x for x in range(10) if x < 5]
print(newlist4)

newlist4 = [x.upper() for x in fruits]
print(newlist4)

newlist4 = ['hello' for x in fruits]
print(newlist4)

newlist4 = [x if x != "banana" else "orange" for x in fruits]
print(newlist4)

['apple', 'banana', 'mango']
['apple']
['banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

### Join Lists
#### Join Two Lists
- There are several ways to join, or concatenate, two or more lists in Python.

- One of the easiest ways are by using the + operator.

In [24]:
list1: list[str] = ["a", "b", "c"]
list2: list[int] = [1, 2, 3]

list3 = list1 + list2
print(list3)


list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)   # type: ignore

print(list1)


list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)  # type: ignore
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

## Python Tuples
- Tuples are used to store multiple items in a single variable.
- Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and- Dictionary, all with different qualities and usage.
- A tuple is a collection which is ordered and unchangeable.

In [25]:
tuple1: tuple[str, str, str] = ("apple", "banana", "cherry")
tuple2: tuple[int] = (1, 5, 7, 9, 3)
tuple3: tuple[bool, bool, bool] = (True, False, False)
print(tuple1, tuple2, tuple3)

newTuple: tuple[str, str, str]= ("Hamza", "Saif", "Jamal")
print(type (newTuple))
print(newTuple)
print(newTuple[0])
print(newTuple[1])
print(newTuple[2])

print("\n For loop")
for x in newTuple:
    print(x)

('apple', 'banana', 'cherry') (1, 5, 7, 9, 3) (True, False, False)
<class 'tuple'>
('Hamza', 'Saif', 'Jamal')
Hamza
Saif
Jamal

 For loop
Hamza
Saif
Jamal

### List - Tuple

In [26]:
my_databse: list[tuple[str, str]] = [
    ("Hamza", "123"),
    ("Saif", "321"),
    ("Jamal", "786")
]

for row in my_databse:
    user, password = row
    print(row)
    print(user, password)

('Hamza', '123')
Hamza 123
('Saif', '321')
Saif 321
('Jamal', '786')
Jamal 786

In [27]:
my_databse: list[tuple[str, str]] = [
    ("Hamza", "123"),
    ("Saif", "321"),
    ("Jamal", "786")
]

input_username = input("Enter your name: ")
input_password = input("Enter your Password: ")

for row in my_databse:
    user, password = row
    if input_username == user and input_password == password:
        print("Welcome to Code HUNTS")
        break
else:
    print("Invalid Credientials")

In [ ]:
my_databse: list[tuple[str, str]] = [
    ("Hamza", "123"),
    ("Saif", "321"),
    ("Jamal", "786")
]

input_username = input("Enter your name: ")             #Hamz 
input_password = input("Enter your Password: ")         # 2234

for row in my_databse:
    user, password = row
    if input_username == user and input_password == password:
        print("Welcome to Code HUNTS")
        break
else:
    print("Invalid Credientials")

Invalid Credientials

### Unpacking a Tuple

In [17]:
fruits: tuple[str, ...] = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

### Using Asterisk*

In [18]:
fruits: tuple[str, ...] = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

### The tuple() Constructor
- It is also possible to use the tuple() constructor to make a tuple.

In [1]:
constructor = tuple(('hamza', 'awais', 'naveed'))
print(constructor)

('hamza', 'awais', 'naveed')

### Accessing tuple items

In [3]:
thistuple: tuple[str, ...] = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[0])
print('Negative: ' + thistuple[-1])
print("Range of Indexes: \n", thistuple[1:4])
print(thistuple[:3])
print(thistuple[2:])
print(thistuple[2:])

apple
Negative: mango
Range of Indexes:
 ('banana', 'cherry', 'orange')
('apple', 'banana', 'cherry')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('cherry', 'orange', 'kiwi', 'melon', 'mango')

#### Update Tuples

In [4]:
names:tuple[str] = ('A',"B",'C')

names[0] = "Pakistan"

TypeError: 'tuple' object does not support item assignment

In [24]:
x: tuple[str, ...] = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [13]:
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)
data: tuple[Any] = ('A', [32,565, 12], True, 2.35) 
print(data)

print(data[1])
data[1].append(54454)
print(data)

('A', [32, 565, 12], True, 2.35)
[32, 565, 12]
('A', [32, 565, 12, 54454], True, 2.35)

In [14]:
a  = input("abc") # return string type
print(type(a))
print(a)

<class 'str'>
14253

In [15]:
sorted([7,8,1,3])

[1, 3, 7, 8]

In [16]:
print([i**2 for i in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Python Sets
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Note: Set items are unchangeable, but you can remove items and add new items.

In [3]:
firstSet: set[str] = {'Hamza', 'waheed', 'abbasi'}
print(firstSet)
print(type(firstSet))

{'waheed', 'abbasi', 'Hamza'}
<class 'set'>

### Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.
#### Unordered
Unordered means that the items in a set do not have a defined order.
#### Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Note: Once a set is created, you cannot change its items, but you can remove items and add new items.

### Duplicates Not Allowed

Sets cannot have two items with the same value.

In [6]:
second_set: set[str] = {'hamza', 'usama', 'naveed', 'togather','shazil', 'hamza'}

print(second_set)

{'shazil', 'hamza', 'usama', 'togather', 'naveed'}

<b>Note:</b> True and 1 or False and 0 are treated as a duplicate in set, these are conidered as a same value

In [9]:
third_set = {'hamza', True, False, 1,  0}
fourth_set = {'hamza',  1,  0, True, False}

print(third_set)
print(fourth_set)

# length of set
print(len(third_set))

{False, True, 'hamza'}
{0, 1, 'hamza'}
3

### Set Items - Data Types

In [12]:
set_1: set[str] = {'Hamza', 'Waheed', 'Abbasi'}
set_2 = {True, False, True}
set_3 = {1, 1, 2}
set_4 = {'hamza',  16, "Waheed", 35, True,  False}

print(type(set_1))
print(type(set_2))
print(type(set_3))
print(type(set_4))

<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>

### Set Constructor set()

In [13]:
set_5 = set(('hamza', 'waheed', 'abbasi'))
print(set_5)
print(type(set_5))

{'waheed', 'abbasi', 'hamza'}
<class 'set'>

## Python Collector (Arrays)
- List is a collection of ordered items and can be change
- Tuple is a collection of ordered items and can not be change, allow duplicate items
- Set is collection which is unordered, unchangeable and unindexed and can not have duplicate items
- Dictionary is a collection ehich is ordered and changeable. No duplicate members

### Access Items

In [21]:
new_set = {'h', True, False, 54, 545, 'a', 56, "saif"}

for x in new_set:
    print(x)

# checking 54 in in the set or not
print(54 in new_set)

print(62626 in new_set)

print('h' not in new_set)

False
True
545
saif
h
54
56
a
True
False
False

### Python - Add Set Items

In [22]:
thisset: set[str] = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

### Merge two sets

In [23]:
set_7 = {'hamza', 'waheed'}
set_8 = {'abbasi'}

set_7.update(set_8) #update merge value in orignal set
print(set_7)

{'waheed', 'abbasi', 'hamza'}

### Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [25]:
set_9: set[str] = {'hamza', 'waheed'}
set_10: list[str] = ['abbasi']

print(type(set_9))
print(type(set_10))

set_9.update(set_10) #update merge value in orignal set
print(set_9)

<class 'set'>
<class 'list'>
{'waheed', 'abbasi', 'hamza'}

## Python - Remove Set Items
To remove an item from the set use these <b>mehtods:</b>
- remove() : Remove item from the set

<b>Note:</b> If the item to remove does not exist, remove() will raise an error.

- discard(): Remove item from the set

<b>Note:</b> If the item to remove does not exist, discard() will NOT raise an error.

- pop() : Remove a random item by using the pop() method

<b>Note:</b> Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

- clear() : The clear() method empties the set

### remove()

In [28]:
remove_set: set[str] = {'data1', 'data2', 'data3'}
remove_set.remove('data1')
remove_set.remove('data4')  # show error

print(remove_set)

KeyError: 'data4'

### discard()

In [29]:
discard_set: set[int] = {2, 35, 79, 13, 6}

discard_set.discard(35)
discard_set.discard(5)      # not show error

print(discard_set)

{2, 6, 13, 79}

### pop()

In [31]:
pop_set: set[bool] = {True, False , False, True, False}
pop_set1: set[int] = {2, 35, 79, 13, 6}


pop_set.pop()
pop_set1.pop()

print(pop_set)
print(pop_set1)

{True}
{35, 6, 13, 79}

### clear()

In [35]:
clear_set: set[int] = {2, 35, 79, 13, 6}

clear_set.clear()

print(clear_set)
print(type(clear_set))

set()
<class 'set'>

## Python - Loop Sets

using for loop

In [36]:
thisset: set[str] = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

## Python - Join Sets

- There are several ways to join two or more sets in Python.

- The <b>union()</b> and <b>update()</b> methods joins all items from both sets.

- The <b>intersection()</b> method keeps ONLY the duplicates.

- The <b>difference()</b> method keeps the items from the first set that are not in the other set(s).

- The <b>symmetric_difference()</b> method keeps all items EXCEPT the duplicates.

### Union
The union() method return a new set having all items

In [37]:
set1: set[str] = {"a", "b", "c"}
set2: set[int] = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [38]:
# Join Multiple Sets

set1: set[str] = {"a", "b", "c"}
set2: set[int] = {1, 2, 3}
set3: set[str] = {"John", "Elena"}
set4: set[str] = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'John', 'apple', 'Elena', 'bananas', 'c', 'a', 'cherry', 'b'}

When using the | operator, separate the sets with more | operators:

In [39]:
set1: set[str] = {"a", "b", "c"}
set2: set[int] = {1, 2, 3}
set3: set[str] = {"John", "Elena"}
set4: set[str] = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'John', 'apple', 'Elena', 'bananas', 'c', 'a', 'cherry', 'b'}

Join set and a Tuple using union

In [40]:
x: set[str] = {"a", "b", "c"}
y: tuple[int, ...] = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

### Update
- The update() method inserts all items from one set into another.

- The update() changes the original set, and does not return a new set.

In [41]:
set1: set[str] = {"a", "b" , "c"}
set11: set[int] = {1, 2, 3}

set1.update(set11) # type: ignore
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

### Intersection
- The intersection() method will return a new set, that only contains the items that are present in both sets.

In [43]:
set13: set[str] = {'hamza', 'waheed'}
set14: set[str] = {'waheed', 'khan', 'abbasi'}

set15: set[str] = set13.intersection(set14)
print(set15)

{'waheed'}

<b>&</b> operater only allow you to joins set with sets, and not with other data types like you can with the intersection() method

In [44]:
set1:set[str] = {"apple", "banana", "cherry"}
set2:set[str] = {"google", "microsoft", "apple"}

set3: set[str] = set1 & set2
print(set3)

{'apple'}

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [45]:
set1: set[str] = {"apple", "banana", "cherry"}
set2: set[str] = {"google", "microsoft", "apple"}

set1.intersection_update(set2)      # not return new set 

print(set1)

{'apple'}

In [47]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

### Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [48]:
set1: set[str] = {"apple", "banana", "cherry"}
set2: set[str] = {"google", "microsoft", "apple"}

set3: set[str] = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

You can use the - operator instead of the difference() method, and you will get the same result.

Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

In [49]:
set1: set[str] = {"apple", "banana", "cherry"}
set2: set[str] = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [50]:
set1: set[str] = {"apple", "banana", "cherry"}
set2:set[str] = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

### Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [51]:
set1:set[str] = {"apple", "banana", "cherry"}
set2:set[str] = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'banana', 'microsoft', 'cherry'}

You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

In [53]:
set1:set[str] = {"apple", "banana", "cherry"}
set2:set[str] = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'banana', 'microsoft', 'cherry'}

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [54]:
set1:set[str] = {"apple", "banana", "cherry"}
set2:set[str] = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'banana', 'microsoft', 'cherry'}

## Python - Set Methods

    Method	                         Shortcut	                        Description

    * add()	                         	                          Adds an element to the set
    * clear()	                             	                  Removes all the elements from the set
    * copy()	                             	                  Returns a copy of the set
    * difference()                             -                  Returns a set containing the difference between two or more sets
    * difference_update()                     -=	              Removes the items in this set that are also included in another, specified set
    * discard()                           	                      Remove the specified item
    * intersection()                          &                   Returns a set, that is the intersection of two other sets
    * intersection_update()                   &=	              Removes the items in this set that are not present in other, specified set(s)
    * isdisjoint()                            	                  Returns whether two sets have a intersection or not
    * issubset()                          	<=	                  Returns whether another set contains this set or not
    *  	                                     <	                  Returns whether all items in this set is present in other, specified set(s)
    * issuperset()	                        >=                    Returns whether this set contains another set or not
    *  	                                    >	                  Returns whether all items in other, specified set(s) is present in this set
    * pop()	                             	                      Removes an element from the set
    * remove()	                             	                  Removes the specified element
    * symmetric_difference()	               ^	              Returns a set with the symmetric differences of two sets
    * symmetric_difference_update()	       ^=                     Inserts the symmetric differences from this set and another
    * union()	                               |	              Return a set containing the union of sets
    * update()	                           |=                     Update the set with the union of this set and others